<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fractions" version="7.1.0" targetFramework="net472" />
  <package id="Magick.NET.Core" version="11.1.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
</packages>